<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <title>User Overview</title>
  </head>
  <body>
    <header>
      <nav style="display: flex; justify-content: space-between">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
        <ul style="float: right">
          <li><a href="/users">ACME lab users: Powered by NodeJS</a></li>
        </ul>
      </nav>
    </header>
    <section class="container">
      <h2>Current User overview</h2>
      <ul>
        <% users.forEach(function(user) { %>
        <li><%= user.firstName %></li>
        <% }); %>
      </ul>
    </section>
  </body>
</html>
